.title-name {
	margin: 30px 0;
	padding: 15px;
	text-align: center;
	justify-content: center;

	h2 {
		margin: auto;
		font-size: 3.5rem;
		font-weight: 100;
		width: fit-content;
		font-family: 'Lobster', cursive;
	}
}

.aboutImg {
	display: flex;
	align-items: center;
	justify-content: center;
}

.about p {
	padding: 0 10px;
	margin: 25px 0;
	font-weight: 700;
	line-height: 23px;
	color: #f0efeb;
	font-size: clamp(13px, 2vw, 1rem) !important;
	font-family: 'Nunito', sans-serif;
}

#about {
	margin-bottom: 70px;
}

@media only screen and (max-width: 600px) {
	h2 {
		font-size: 28px !important;
	}

	.about {
		margin: 15px 10px;
	}
	.aboutImg {
		margin-top: 10px;
	}
}
