:root {
	--main-bg: #59a5d8;
	--second-bg: #0e64f8a8;
	--circle: #5e60cea4;
	--card: #3870a49c;
}

body {
	a {
		text-decoration: none;
		color: #f0efeb;
		&:hover {
			text-decoration: none;
		}
	}
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 1px;
	color: rgb(233, 233, 233);
	// background-color: #7d76b9;
	background: linear-gradient(0.25turn, #9198e5, #0e64f8a8);
}
html {
	scroll-behavior: smooth;
}
