.contact-styles {
	padding: 50px 100px;
	margin: auto;
	.contact-text {
		font-family: 'Lobster', cursive;
		text-align: center;
		margin: 50px;
		h1,
		h4 {
			font-size: clamp(1rem, 5vw, 2.5rem);
		}
	}
}

@media only screen and (max-width: 400px) {
	.contact-styles {
		padding: 20px 15px;
		margin: auto;
		.contact-text {
			margin: 70px 20px 30px 20px;
		}
	}
}
