.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-top: 5px;
}

.appear {
	animation-name: appear;
	animation-duration: 2s;
	animation-iteration-count: inherit;
	animation-timing-function: linear;
}

.home-info {
	h1,
	h2 {
		font-size: clamp(0.1rem, 5vw, 2rem);
	}
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 60px;
	font-family: 'Convergence', sans-serif;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}
	50% {
		transform: translate(0, 15px);
	}
	100% {
		transform: translate(0, -0px);
	}
}
@keyframes appear {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
.circle {
	position: absolute;
	top: -50px;
	left: -250px;
	height: 500px;
	width: 500px;
	z-index: -11;
	background-color: var(--circle);
	border-radius: 50%;
}

.btn {
	border-radius: 24px !important;
	background-color: var(--second-bg) !important;
}
.btn:hover {
	background-color: #2655a5e5 !important;
}
a:hover {
	color: #ffffff;
}

@media only screen and (max-width: 600px) {
	p {
		font-size: 70% !important;
		line-height: normal;
	}
}

@media only screen and (min-width: 900px) {
	.home-info {
		padding-left: 90px;
		padding-top: 80px;
	}
}
