.nav-holder {
	z-index: 100;
	background-color: rgba(190, 189, 189, 0.185);
	opacity: 1;
	position: fixed;
	width: 100%;
	justify-content: center;
	-webkit-box-shadow: 0 4px 6px -6px #222;
	-moz-box-shadow: 0 4px 6px -6px #222;
	box-shadow: 0 4px 6px -6px #222;
	nav {
		display: flex;
		justify-content: space-around;
		a {
			cursor: pointer;
			background: transparent;
			text-transform: uppercase;
			transition: all 0.3s ease 0s;
			color: #fff;
			text-transform: uppercase;
			text-decoration: none;
			padding: 13px 8px;
			font-family: 'Karla', sans-serif;
			font-size: clamp(8px, 3vw, 18px);
			margin: auto;
			&:hover {
				text-decoration: none;
				color: #3e67c0ab;
				font-weight: 700 !important;
				letter-spacing: 4px;
				background: none;
				box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.57);
				-webkit-box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.57);
				-moz-box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.57);
				transition: all 0.3s ease;
			}
		}
	}
}

.transparent {
	background: transparent !important;
}

.hidden {
	transform: translateY(-50px);
	transition: transform 1s ease-out;
}

.active {
	transform: translateY();
	transition: transform 1s ease-out;
}
